body{
    overflow-x:hidden ;
    font-family: "Manrope";
}
.nav-bar{
    margin-top: 2%;
    background-color: #DE5D83;
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    padding: 1%;
    border-radius: 50px;


}
.nav-bar a{
    text-decoration: none;
        color: white;
            font-size: larger;
}
.nav-bar a:hover{
    color: rgb(12, 11, 11);
}
.home-container{
    display: flex;
    justify-content: space-around;
}
.content{
font-size: 700%;
color: #670E29;
}
.image{
    margin-top: 3%;
    background-color: #DE5D83;
    width: 500px;
    padding: 5%;
    height: 500px;
    text-align: center;
    border-radius: 50%;
    /* position: relative; */
}

#learn{
    font-size: 300%;
    font-family: "La Belle Aurore";
}
.nav{
  position: relative;
  width: 100%;
}
.nav img{
   position: absolute;
   right: 3%;
     top: 0%;
    height: 100%;
}
.nav span{
    position: absolute;
    width: 20%;
    top: 38%;
    font-size: 150%;
    right: -7%;
    font-family: "La Belle Aurore";
    /* border:#DE5D83 solid; */
}


 #learn{
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid black; 
  animation: typing 3s steps(30, end), blink 0.75s step-end infinite;
  font-family: monospace;
  width: fit-content;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink {
  50% { border-color: transparent }
}




